@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;
  --sidebar: #000000;
  --accent: #27272a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  @apply antialiased tracking-tight;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f46;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

::selection {
  background: #3f3f46;
  color: #ffffff;
}